@model List<Identity.Models.Role>;

<h2>List of Role</h2>
<div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>
                        @Html.ActionLink("Delete", "Delete", "Role", new { roleName = item.Name })
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>


